/* components/Calendar/CalendarMenu.css */
.CalendarMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    color: black;
  }
  
  .MonthSelector {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .MonthSelector button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .CalendarMenu button {
    padding: 0.5rem;
    font-size: 1rem;
  }
